body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headline{
  font-size: 36px; 
  color: #333; 
  text-align: center; 
  margin-top: 20px; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}


.room-list-container {
  background-color: #f5f5f5;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.room-list-heading {
  font-size: 24px;
  margin-bottom: 10px;
}

.room-list {
  list-style-type: none;
  padding: 0;
}

.room-item {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.room-name {
  font-size: 18px;
  font-weight: bold;
}

.room-bookings {
  font-size: 14px;
  color: #666;
}

.book-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.book-button:hover {
  background-color: #0056b3;
}


.confirm-booking-container {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.confirm-booking-heading {
  font-size: 18px;
  margin-bottom: 10px;
}

.confirm-booking-info {
  font-size: 16px;
  margin-bottom: 10px;
}

.confirm-button {
  background-color: #00cc66;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.confirm-button:hover {
  background-color: #00994d;
}


.select-time-container {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.select-time-heading {
  font-size: 18px;
  margin-bottom: 10px;
}

.time-slot-list {
  list-style: none;
  padding: 0;
}

.time-slot-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

.book-button {
  background-color: #00cc66;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.book-button:hover {
  background-color: #00994d;
}


.booking-history-container {
  margin-top: 20px;
}

.booking-history-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.booking-list {
  list-style: none;
  padding: 0;
}

.booking-item {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cancel-button {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}

.booking-history-container > h2 {
  background-color: #f44336;
  color: #fff; 
  padding: 10px; 
  border-radius: 4px; 
  text-align: center; 
  font-size: 18px; 
  margin-bottom: 10px; 
}

.close-button{
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}